#Minecraft server properties
#See https://minecraft.fandom.com/wiki/Server.properties#Minecraft_server_properties for properties explanation
broadcast-rcon-to-ops={{ minecraft_server_config.broadcast_rcon_to_ops | default("true") }}
view-distance={{ minecraft_server_config.view_distance | default(10) }}
enable-jmx-monitoring={{ minecraft_server_config.enable_jmx_monitoring | default("false") }}
server-ip={{ minecraft_server_config.server_ip }}
resource-pack-prompt={{ minecraft_server_config.resource_pack_prompt | default('') }}
rcon.port={{ minecraft_server_config.rcon.port | default(25575) }}
gamemode={{ minecraft_server_config.gamemode | default("survival") }}
server-port={{ minecraft_server_config.server_port | default(25565) }}
allow-nether={{ minecraft_server_config.allow_nether | default("true") }}
enable-command-block={{ minecraft_server_config.enable_commandvblock | default("false") }}
enable-rcon={{ minecraft_server_config.enable_rcon | default("false") }}
sync-chunk-writes={{ minecraft_server_sync_chunk_writes | default("true") }}
enable-query={{ minecraft_server_config.enable_query | default("false") }}
op-permission-level={{ minecraft_server_config.op_permission_level | default(4) }}
prevent-proxy-connections={{ minecraft_server_config.prevent_proxy_connections | default("false") }}
resource-pack={{ minecraft_server_config.resource_pack | default('') }}
entity-broadcast-range-percentage={{ minecraft_server_config.entity_broadcast_range_percentage | default(100) }}
level-name={{ minecraft_server_config.level_name | default("world") }}
rcon.password={{ minecraft_server_config.rcon.password | default('') }}
player-idle-timeout={{ minecraft_server_config.player_idle_timeout | default(0) }}
motd={{ minecraft_server_config.motd | default("A Minecraft Server") }}
query.port={{ minecraft_server_config.query.port | default(25565) }}
force-gamemode={{ minecraft_server_config.force_gamemode | default("false") }}
rate-limit={{ minecraft_server_config.rate_limit | default(0) }}
hardcore={{ minecraft_server_config.hardcore | default("false") }}
white-list={{ minecraft_server_config.white_list | default("false") }}
broadcast-console-to-ops={{ minecraft_server_config.broadcast_console_to_ops | default("true") }}
pvp={{ minecraft_server_config.pvp | default("true") }}
spawn-npcs={{ minecraft_server_config.spawn_npcs | default("true") }}
spawn-animals={{ minecraft_server_config.spawn_animals | default("true") }}
snooper-enabled={{ minecraft_server_config.snooper_enabled | default("true") }}
difficulty={{ minecraft_server_config.difficulty | default("easy") }}
function-permission-level={{ minecraft_server_config.function_permission_level | default(2) }}
network-compression-threshold={{ minecraft_server_config.network_compression_threshold | default(256) }}
text-filtering-config={{ minecraft_server_config.text_filtering_config | default('') }}
require-resource-pack={{ minecraft_server_config.require_resource_pack | default("false") }}
spawn-monsters={{ minecraft_server_config.spawn_monsters | default("true") }}
max-tick-time={{ minecraft_server_config.max_tick_time | default(60000) }}
enforce-whitelist={{ minecraft_server_config.enforce_whitelist | default("false") }}
use-native-transport={{ minecraft_server_config.use_native_transport | default("true") }}
max-players={{ minecraft_server_config.max_players | default(20) }}
resource-pack-sha1={{ minecraft_server_config.resource_pack_sha1 | default('') }}
spawn-protection={{ minecraft_server_config.spawn_protection | default(16) }}
online-mode={{ minecraft_server_config.online_mode | default("true") }}
enable-status={{ minecraft_server_config.enable_status | default("true") }}
allow-flight={{ minecraft_server_config.allow_flight | default("false") }}
max-world-size={{ minecraft_server_config.max_world_size | default(29999984) }}